{% extends "base.html" %}
{% load static %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2 header-top-space">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Shopping Bag</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col header">
                {% if bag_items %}
                    <div class="table-responsive rounded header">
                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col">Paper Type</th>
                                    <th scope="col">Product Size</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            {% for item in bag_items %}
                                <tr>
                                    <td class="py-3">
                                        <p class="my-0"><strong>{{ item.name }}</strong></p>
                                        <p class="my-0 small text-muted">SKU: {{ item.product_id }}</p>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">{{ item.paper }}</p>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">{{ item.size }}</p>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">US$ {{ item.price }}</p>
                                    </td>
                                    <td class="py-3">
                                        <div class="form-group mx-auto">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <button class="decrement-qty btn btn-sm btn-black rounded-4" 
                                                        data-item_id="{{ item.product_id }}" id="decrement-qty_{{ item.product_id }}">
                                                        <span>
                                                            <i class="fas fa-minus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                <input oninput="this.value=(this.value   < Number(this.min) || this.value   > Number(this.max))  ? '' : this.value;" type="number" value="{{ item.qty_per_product }}" min="1" max="99" class="form-control form-control-sm new-qty-{{ item.product_id }} qty_input" data-item_id="{{ item.product_id }}" id="id_qty_{{ item.product_id }}" />
                                                <div class="input-group-append">
                                                    <button class="increment-qty btn btn-sm btn-black rounded-4"
                                                        data-item_id="{{ item.product_id }}" id="increment-qty_{{ item.product_id }}">
                                                        <span>
                                                            <i class="fas fa-plus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                <button class="btn btn-sm btn-black rounded-4 update-cart" data-item="{{ item.product_id }}" type="button">Update Quantity</button>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">US$ {{ item.total_per_product }}</p>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0"><button class="btn btn-sm btn-black rounded-4 delete-cart" data-item="{{ item.product_id }}" type="button"><i class="fa fa-trash"></i></button></p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    <h6><strong>Bag Total: ${{ total|floatformat:0 }}</strong></h6>
                                    <h6>Delivery: ${{ delivery|floatformat:0}}</h6>
                                    <h4 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:0}}</strong></h4>
                                    {% if free_delivery_delta > 0 %}
                                        <p class="mb-1 text-danger">
                                            You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong> more!
                                        </p>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <a href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5 py-3 text-black">Your bag is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}