{% extends "base.html" %}
{% load static %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container event-holder h-100 header-top-space">
        <div class="row space-top margin-bottom justify-content-center">
            <div class="col-9 header space-top">
                <p class="bio">
                    <span>
                        "Futuro was born in Chile and migrated to Europe 12 years ago where he lived in various countries before he established himself in Sweden. Whilst living there he was able to carry out a degree in peace and conflict studies at Malmo University. He has conducted work with NGOs such as Help Refugees where he functioned as communications director and most recently at UNICEF / Futbol Más as an interpreter and coordinator." 
                    </span>
                </p>
                <p class="bio">
                    <span>
                        "Futuro has dedicated a large portion of his time to documenting migration across Europe as well as imparting workshops to the youth on alternative creative photographic approaches in places such as Brazil, Greece, Mexico, Sweden, etc. "
                    </span>
                </p>
                <p class="bio">
                    <span>
                        "In Sweden, Futuro works as a photography teacher using innovative methods of teaching through the use of analog disposable cameras. He has most recently collaborated with Gotebörgs Stadsbiblioteket, Malmö Stadsbiblioteket, Malmö Live, among other institutions."
                    </span>
                </p>
                <p class="bio">
                    <span>
                        "Pictures from his documentary work have been widely used in newspapers and sites such as Vice, The Independent, Lomography, The Huffington Post, Joia Magazine, NewsDeeply, Highsnobiety, among others. He is a regular contributor at Joia."
                    </span>
                </p>
                <p class="bio">
                    <span>
                        "He has exhibited his photographic work and held talks in different cities across Europe."
                    </span>
                </p>
            </div>
            <div class="col-3 offset-1 margin-bottom">
                <h2>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg">Shop<strong>Prints</strong></a>
                </h2>
            </div>
        </div>
    </div>
{% endblock %}