{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="container header-top-space">
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for product in products %}
                    <div class="col-md-4 mb-4">
                        <div class="card h-100 border-0">
                                {% if "placeholder" in product.image.url %}
                                <img class="card-img-top img-fluid"
                                    src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
                                {% else %}
                                <img class="card-img-top img-fluid" alt="event" src=" {{ product.image.url }}">
                                {% endif %}
                            <div class="card-body pb-0 bg-white border-0 text-left text-black">
                                <p class="mb-0 text-black">{{ product.name }}</p>
                            </div>
                            <div class="card-footer bg-white pt-0 border-0 text-left text-black">
                                <div class="row">
                                    <div class="col">
                                        <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                                        {% if product.rating %}
                                            <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                        {% else %}
                                            <small class="text-muted">No Rating</small>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}