{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="container header-top-space">
        <div class="col-12 mt-3">
            <div class="row">
                {% for product in products %}
                    <div class="col-md-4 mb-4">
                        <div class="card h-100 border-0">
                                {% if "placeholder" in product.image.url %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid"
                                        src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
                                </a>
                                {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" alt="event" src=" {{ product.image.url }}">
                                </a>
                                {% endif %}
                            <div class="card-body pb-0 bg-white border-0 text-left text-black">
                                <p class="mb-0 text-black">{{ product.name }}</p>
                                {% if product.category %}
                                <p class="small mt-2 mb-1">
                                    <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                        <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                    </a>
                                </p>
                                {% endif %}
                            </div>
                            <div class="card-footer bg-white pt-0 border-0 text-left text-black">
                                <div class="row">
                                    <div class="col">
                                        <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                                        {% if product.rating %}
                                            <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                        {% else %}
                                            <small class="text-muted">No Rating</small>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

