{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="container header-top-space header  product-detail-width">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="image-container my-2">
                        {% if "placeholder" in product.image.url %}
                        <a href="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" target="_blank">
                            <img class="card-img-top img-fluid"
                                src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
                        </a>
                        {% else %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" alt="event" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% endif %}
                    </div>
                    <!-- <p class="mb-0 text-black">{{ product.name }}</p> -->
                    <p class="mt-3 text-black">{{ product.description }}</p>
                    <div class="product-details-container mb-5 mt-md-5">
                        <table class="table table-bordered">
                            <tr>
                                <th>Paper Size</th>
                                <td>
                                    {% for size in sizes %}
                                        <button class="btn btn-outline-secondary btn-sm choose-color">{{size.size__name}}</button>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th>Paper Type</th>
                                <td>
                                    {% for paper in papers %}
                                    <button data-price="{{size.price}}" class="btn btn-outline-secondary btn-sm">{{paper.paper__name}}</button>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th>Price</th>
                                <th><span class="lead mb-0 text-left font-weight-bold">{{product.productspec_set.first.price}}</span> kr.</th>
                            </tr>
                        </table>
                        <hr/>
                        {% if product.rating %}
                            <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                        {% else %}
                            <small class="text-muted">No Rating</small>
                        {% endif %}
                    </div>
                </div>
            </div>
    </div>
{% endblock %}
